:root {
    --cor-fundo: #e5ff00;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}

body {
    background-color: var(--cor-fundo);
    background-image: url('BRBA.JPG'); /* Removido espaço extra */
    background-size: cover; /* Adicionado para cobrir toda a área do fundo */
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Removido margem padrão do body */
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Adicionado para bordas arredondadas */
}

h1 {
    color: var(--cor-destaque); /* Adicionado cor para destaque do título */
    font-size: 2em; /* Tamanho da fonte ajustado para melhor visibilidade */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}
